extends layout.pug
block content

    div.container
        div.input-group.flex-container    
            div.btn-group(role="group", aria-label="Third group")
                a.btn.btn-success.my-2.my-sm-12(href="/login", role="button") Connexion
            
            div.btn-group(role="group", aria-label="Third group")
                a.btn.btn-outline-success.my-2.my-sm-12(href="/register", role="button") Inscription
                
    form(method='POST' action='/register')
        ul.form-style-1
                li
                    label Firstname
                        span.required *
                    input.field-long(type="text", placeholder="John" name="firstname" value=(user && user.firstname))
                li
                    label Lastname
                        span.required *
                    input.field-long(type="text", placeholder="DOE" name="lastname" value=(user && user.lastname))
                li
                    label Email 
                        span.required *
                    input.field-long(type="email", placeholder="john.doe@example.com" name="email"  value=(user && user.email))
                li
                    label Password 
                        span.required *
                    input.field-long(type="password" name="password")
                li
                    label Password Confirmation
                        span.required *
                    input.field-long(type="password" name="password_confirmation")
                li
                    input(type="submit" value="submit")  

    //- Gestion des erreurs si existantes
    if errors
        div.alert.alert-danger
            each error, index in errors
                | #{error} <br>